.collection-prev {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  .link-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    color: black;
    cursor: pointer;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width:500px) {
    .preview {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
  }
}