.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .checkout-footer {
    width: 100%;
    margin-top: 30px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    a {
      color: black;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }



  @media (max-width:500px) {
    width: 95%;

    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 20px;
    }

    .link {
      font-size: 20px;
    }
  }
}