.section {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-section {
    text-align: center;
    font-size: 5rem;
    margin: 1rem auto;
    color: #fff;

    .white {
      color: #000;
    }
  }

  .options {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .option {
      padding-bottom: 2rem;
    }

    .text {
      font-size: 2rem;
      color: white;

      .icon {
        color: black;
        margin-right: 10px;
      }
    }
  }

  @media (max-width:500px) {
    .options {
      display: flex;
      flex-direction: column;
      align-items: center;

      .option {
        border-bottom: 1px solid rgba($color: #000000, $alpha: .7);
        width: 100%;

        h2 {
          text-align: center;
        }
      }
    }
  }
}